/* 
font-family: 'Arima', system-ui;
font-family: 'Cormorant', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Instrument Serif', serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Merienda', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Zeyada', cursive; */

.arima {
  font-family: 'Arima', system-ui;
}

.cormorant{
  font-family: 'Cormorant', serif;
}

.cormorantg{
  font-family: 'Cormorant Garamond', serif;
}

.instrument{
  font-family: 'Instrument Serif', serif;
}

.kaushan{
  font-family: 'Kaushan Script', cursive;
}

.merienda{
  font-family: 'Merienda', cursive;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.shadows{
  font-family: 'Shadows Into Light', cursive;
}

.zeyada{
  font-family: 'Zeyada', cursive;
}